define host{
        use                             ncg-generic-host
        host_name                       <hostname>
        alias                           <alias>
        address                         <address>
        check_command                   <checktype>
        contact_groups                  <contactlist>
        <customVars>
        <hostgroup>
        <parent>
}

